<h2 class="title-fragment" >Mes appareils</h2>
<ul class="list-group">
  
  <app-appareil   *ngFor="let appareil of appareils; let i = index "
                  [appareilName]="appareil.name"  
                  [appareilStatus]="appareil.status" 
                  [index]="i" 
                  [id]="appareil.id"></app-appareil>
</ul>
<button class="btn btn-success m-5" 
        (click) = "onAllumer()" >Tout Allumer</button>
<button class="btn btn-danger m-5"
        (click) = "onEteindre()" >Tout Eteindre</button>